.main-container{
  height: auto;
  overflow: hidden;
  background-image: url('../images/netflix-background.jpg');
  position: relative;
}
.delete-container  {
 position: absolute;
 z-index: 998;
 background-color: #212121;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 opacity: 0.6;

}

.profile-drop-down-menu a {
  text-decoration: none;
}

.delete-account-popup {
  height: auto;
  background-color: #fff;
  width: 40%;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  z-index: 1100;
}

.delete-is-success {
  height: auto;
  background-color: #fff;
  width: auto;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -240%);
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.button-container-delete button {
  width: 100px;
  margin: 10px;
}
.button-x {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  
}

.image-header {
  width: 100%;
  background-color: black;
  min-height: 300px;
  margin-top: 100px;
  border-top: 10px solid #222222;
  border-bottom: 10px solid #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-header h1 {
  font-size: 70px;
}

.logged-in-card {
  background-color: rgba(0,0,0,0.59);
  height: auto;
  min-width: 500px;
  margin: 10px;
  border-radius: 12px;
  padding: 20px;
  backdrop-filter: blur(3px);
  position: absolute;
  z-index: 1000;
  transition: 300ms;
}

.logged-in-card-update-active {
  background-color: rgba(0,0,0,0.59);
  height: auto;
  min-width: 500px;
  margin: 10px;
  border-radius: 12px;
  padding: 20px;
  backdrop-filter: blur(3px);
  transform: translateX(-300px);
  position: absolute;
  z-index: 1000;
  transition: 1000ms;
}

.user-name-login {
  width: 240px;
}

.user-picture {
  background-color: #fff;
  border-radius: 20px;
  height: 80px;
  width: 80px;
  object-fit: contain;
}

.user-picture-profile {
  width: 70px;
  height: 70px;
  object-fit: contain;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 1px 1px 21px 0px rgba(255,0,0,0.75);
-webkit-box-shadow: 1px 1px 21px 0px rgba(255,0,0,0.75);
-moz-box-shadow: 1px 1px 21px 0px rgba(255,0,0,0.75);
  
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 9px solid #fff;
  transition: 400ms;
}

.profile-container:hover .arrow-up{
  transform: rotate(180deg);
}


.profile-wrapper {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
  cursor: pointer;
}
.profile-container {
  position: absolute;
  top: 10px;
  right: 90px;
  
}

.user-card {
  background-color: rgba(0,0,0,0.65);
  border-radius: 12px;
  padding: 10px;
  width: 100%;
  color: #fff;
  transition: 500ms;
  overflow: hidden;
}
.user-card:hover {
  background-color: #fff;
  color: black;
  transform: translate(40px, -15px) scale(1.1);
  cursor: pointer;
}

.user-id {
 position: relative;
}
.user-id p {
  position: absolute;
  margin-left: 150px;
  transition: 500ms;
  color: #00A8FA;
}

.user-id p span {
  color: #CBE4EE;
}

.user-card:hover .user-id p {
  margin-left: 35px;
  margin-top: 10px;
}

.profile-drop-down-menu {
  height: auto;
  width:150px;
  background-color: rgba(0,0,0,0.71);
  margin-top: 20px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 60px;
  right: 0px;
  opacity: 0;
  transition-duration: 150ms;
}

.profile-container:hover .profile-drop-down-menu {
  opacity: 1;
}


.profile-drop-down-menu button:nth-child(1) {
  border: none;
  background-color: transparent;
}

.profile-drop-down-menu button:nth-child(2) {
  border: none;
  background-color: transparent;
}


.profile-drop-down-menu p {
  margin: 0;
  padding: 10px 0px;
  color: #fff;
}

.profile-drop-down-menu button:nth-child(1) {
  border-bottom: 2px solid gray;
}
.profile-drop-down-menu button:nth-child(2) {
  border-bottom: 2px solid gray;
}

.profile-drop-down-menu p:hover {
  text-decoration: underline;
}
.update-user {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 20em;
  transform: translateX(30px);
}
.update-user-active {
  position: absolute;
  opacity: 1;
  top: 0px;
  left: 20em;
  transform: translateX(30px);
  transition: 1000ms;
}

.account-container {
  height: 60em;
}

.next-button {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: none;
  margin-right: 20px;
}

.next-button-active {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: none;
  margin-right: 20px;
  border: 4px solid red;
}

.loading-contacts-container {
  width: 100%;
  text-align: center;
  margin: 50px 0px;
}