.sign-in-container {
  min-width: 420px;
  min-height: auto;
  background-color: rgba(0,0,0,0.75);
  padding: 60px 68px 40px;
  border-radius: 8px;
  position: relative;
}
.login-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url('../images/netflix-background.jpg');
}

.netflix-logo {
  height: 100px;
  padding-left: 50px;
}